<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li class="dashboardactive" [routerLink]="['/admin/work_area/dashboard']"
                    *ngIf="utilsService.getLoginUsers() && utilsService.flagForHideMenuForShareLinkPage === false"
                    routerLinkActive="active">
                    <a>
                        <i class="simple-icon-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <!-- <li>
          <a href="#">
            <i class="simple-icon-organization"></i> Workflow
          </a>
        </li> -->
                <li [routerLink]="['/admin/work_area/assets']"
                    *ngIf="utilsService.getLoginUsers() && utilsService.flagForHideMenuForShareLinkPage === false"
                    routerLinkActive="active">
                    <a>
                        <i class="simple-icon-folder-alt"></i> Assets
                    </a>
                </li>
                <!-- <li (click)="redirect" *ngIf="utilsService.flagForHideMenuForShareLinkPage === true" routerLinkActive="active">
                        <a>
                            <i class="simple-icon-folder-alt"></i> Share Assets
                        </a>
                    </li> -->
                <li [routerLink]="['/admin/work_area/collections']" routerLinkActive="active"
                    *ngIf="utilsService.getLoginUsers() && utilsService.flagForHideMenuForShareLinkPage === false">
                    <a>
                        <i class="simple-icon-grid"></i> Collections
                    </a>
                </li>
                <li [routerLink]="['/admin/work_area/share']"
                    *ngIf="utilsService.getLoginUsers() && utilsService.flagForHideMenuForShareLinkPage === false"
                    routerLinkActive="active">
                    <a>
                        <i class="simple-icon-share"></i>Shares
                    </a>
                </li>
                <li [routerLink]="['/admin/work_area/user-role']" routerLinkActive="active"
                    *ngIf="utilsService.getLoginUsers()?.role_id === 1 && utilsService.flagForHideMenuForShareLinkPage === false">
                    <a>
                        <i class="simple-icon-user"></i>Users & Roles
                    </a>
                </li>
                <li routerLinkActive="active" class="kishan" [routerLink]="['/admin/work_area/settings']">
                    <a class="opensubmenu"
                        *ngIf="utilsService.getLoginUsers()?.role_id === 1 && utilsService.flagForHideMenuForShareLinkPage === false">
                        <i class="simple-icon-settings"></i>Settings
                    </a>
                </li>
                <!-- <li>
                    <a href="javascript:void(0);">
                        <i class="simple-icon-question"></i>Help
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="sub-menu">
        <div class="scroll">
            <ul class="d-block nav">
                <li class="nav-item" [routerLink]="['/admin/work_area/settings/usage']" routerLinkActive="active">
                    <a>
                        <i class="simple-icon-chart"></i>
                        <span>Usage</span>
                    </a>
                </li>
                <li class="nav-item" [routerLink]="['/admin/work_area/settings/access-log']" routerLinkActive="active">
                    <a>
                        <i class="simple-icon-list"></i>
                        <span>Access Logs</span>
                    </a>
                </li>
                <li class="nav-item" [routerLink]="['/admin/work_area/settings/recycle-bin']" routerLinkActive="active">
                    <a>
                        <i class="simple-icon-trash"></i>
                        <span>Recycle Bin</span>
                    </a>
                </li>
                <li class="nav-item" [routerLink]="['/admin/work_area/settings/meta-config']" routerLinkActive="active">
                    <a>
                        <i class="simple-icon-support"></i>
                        <span>Meta Data Config</span>
                    </a>
                </li>
                <!-- <li class="nav-item" [routerLink]="['/admin/work_area/dashboard']" routerLinkActive="active">
                        <a>
                            <i class="simple-icon-arrow-right"></i>
                            <span>Share</span>
                        </a>
                    </li>
                    <li class="nav-item" [routerLink]="['/admin/work_area/dashboard']" routerLinkActive="active">
                        <a>
                            <i class="simple-icon-arrow-right"></i>
                            <span>User Role</span>
                        </a>
                    </li>     -->
            </ul>
        </div>
    </div>
</div>