.grid-list { display: flex; justify-content: flex-end; margin-bottom: 10px;}
.grid-list .gl-group { margin-top: 5px; margin-right: 15px; }
.gl-group span { padding: 10px; background-color: transparent; cursor: pointer; color: #3a3a3a; border: 1px solid #922B88; }
.gl-group span.gl-active { background-color: #922B88; color: #fff; }
.top-right-button-container { display: flex; }
.mat-datepicker-content .mat-calendar { width: 296px; height: 354px; z-index: 999999; }
::ng-deep .cdk-overlay-container { z-index: 1200 !important; }
.grid-list .grid-button { display: flex; flex-direction: row; align-items: center;  }
.assets-sort .dropdown-menu { padding: 0px; border: 0; box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04); }
.assets-sort .dropdown-menu ul { padding: 0; margin: 0; border-bottom: 1px solid #999; list-style-type: none; }
.assets-sort .dropdown-menu ul:nth-last-child(1) { border-bottom: 0px; }
.assets-sort .dropdown-menu ul li { padding: 4px 15px; margin: 0; color: #999; font-size: 13px; }
.assets-sort .dropdown-menu ul li.sort-title { color: #922B88; font-size: 14px; }
.assets-sort .dropdown-menu ul li.active { color: #000; }
.assets-card .as-details .fname {  width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.astags{ display: flex;  }
.astags ul{     display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0; margin-left: 15px; }
.astags ul li{     border: 1px solid #d4d4d4;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 13px;
    background: #fff;
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 10px; }
.astags ul li .material-icons {
    font-size: 13px;
    margin-left: 6px;
    cursor: pointer;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  background-color: transparent;
  cursor: no-drop;
  color: #922B88
}



