<section class="authentication">
  <div class="container">
    <div class="row h-100">
      <div class="mx-auto my-auto col-12 col-md-10">
        <div class="auth-card card">
          <div class="position-relative image-side ">
            <!-- <p class="text-white">
              <img src="assets/images/white-logo.svg" height="50px">
            </p> -->
            <!-- <p class="white mb-0">Please use your credentials to login.<br>
              If you are not a member, please <a
                class="white" href="#">register</a>.</p> -->
          </div>
          <div class="form-side">
            <a aria-current="page" class="white active" href="/">
              <img src="assets/images/logo.svg" class="mb-5" height="50px">
            </a>
            <div class="mb-4 card-title">
              <span>Login</span>
            </div>
            <div class="row" [formGroup]="loginForm">
              <div class="col-md-12 col-sm-12">

                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>User name</mat-label>
                  <input matInput required formControlName="email" (keyup.enter)="loginAPI()"
                    [(ngModel)]="userOb.userNameOrEmail" [maxlength]="utilsService.validationService.MAX_50">
                  <mat-error
                    *ngIf="loginForm.controls['email'].hasError('required') &&  loginForm.controls['email'].touched">
                    {{utilsService.validationService.REQUIRED_FOR_USERNAME}}</mat-error>
                  <mat-error
                    *ngIf="!loginForm.controls['email'].hasError('required') && !loginForm.controls['email'].valid && loginForm.controls['email'].touched">
                    {{utilsService.validationService.INVALID_FOR_USERNAME}}
                  </mat-error>
                </mat-form-field>
                <!-- <div class="form-group custom-form-control">
                  <label>E-mail</label>
                  <input class="form-control" formControlName="email"  [(ngModel)]="userOb.userNameOrEmail" />
                  <div class="error-msg"
                  *ngIf="loginForm.controls['email'].hasError('required') &&  loginForm.controls['email'].touched">{{utilsService.validationService.EMAIL_REQUIRED}}</div>
              <div class="error-msg"
                  *ngIf="!loginForm.controls['email'].hasError('required') && !loginForm.controls['email'].valid && loginForm.controls['email'].touched">{{utilsService.validationService.EMAIL_INVALID}}
              </div>
                </div> -->
              </div>

              <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Password</mat-label>
                  <input matInput required formControlName="password" [(ngModel)]="userOb.password"
                    [maxlength]="utilsService.validationService.MAX_30"
                    [type]="!flagForPasswordHideShow?'password':'text'" (keyup.enter)="loginAPI()">
                  <mat-icon matSuffix class="secondary-text cursor-pointer"
                    (click)="flagForPasswordHideShow = !flagForPasswordHideShow">
                    {{flagForPasswordHideShow ? 'visibility_off' : 'visibility'}}</mat-icon>

                  <mat-error
                    *ngIf="loginForm.controls['password'].hasError('required') &&  loginForm.controls['password'].touched">
                    {{utilsService.validationService.PASSWORD_REQUIRED}}
                  </mat-error>
                </mat-form-field>
                <!-- <div class="form-group custom-form-control">
                  <label>Password</label>
                  <input class="form-control" type="password" formControlName="password" [(ngModel)]="userOb.password" placeholder="" />
                  <div class="error-msg"
                  *ngIf="loginForm.controls['password'].hasError('required') &&  loginForm.controls['password'].touched">{{utilsService.validationService.PASSWORD_REQUIRED}}</div>
                </div> -->
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="d-flex justify-content-between align-items-center">
                  <a [routerLink]="['/kurate/forgot-password']" routerLinkActive="router-link-active">Forgot
                    Password?</a>
                  <button class="btn btn-primary btn-lg btn-shadow btn-radius" type="submit"
                    [disabled]="loginForm.invalid" (click)="loginAPI()">
                    <span class="spinner d-inline-block"></span>LOGIN</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>