<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="search-header mt-4">
        <div class="float-left">
          <h1>Shares</h1>
        </div>
      </div>
      <div class="separator mt-2 mb-2"></div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12 col-12">

      <div class="card rounded">
        <div class="card-body">
          <div class="row justify-content-between">
              <div class="col-lg-6 co-md-6 col-sm-12">
                  <ul class="nav nav-tabs my-tab" role="tablist">
                    <li class="nav-item text-center"><a class="nav-link"
                        [ngClass]="{'active': flagForHideShowShare === false}" (click)="changeTab('MyShare')"
                        id="my-collection-tab" aria-selected="true">My Share(s)</a></li>
                    <li class="nav-item text-center"><a class="nav-link"
                        [ngClass]="{'active': flagForHideShowShare === true}" (click)="changeTab('OtherShare')"
                        id="other-collection-tab" aria-selected="false">Other Shares</a></li>
                  </ul>
                </div>
            <!-- <div class="col-lg-2 co-md-4 col-sm-12">
                <input class="form-control" type="text" (input)="setSearchNgModel($event.target.value)" name="search" />
              </div> -->
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="tab-content h-100">
                <div class="tab-pane fade aggridtable h-100  bgg"
                  [ngClass]="{'active show': flagForHideShowShare === false}" id="my-share">
                  <ag-grid-angular id="my_div1" class="my_div1 div_new" #agGrid
                    style="height:calc(100vh - 265px);width:100%;max-height: 100%;" rowHeight="40" headerHeight="38"
                    floatingFiltersHeight="50" class="ag-theme-balham" [rowData]="myShare"
                    [columnDefs]="columnDefsForShare" [rowSelection]="rowSelection" [rowClassRules]="rowClassRules"
                    [suppressRowClickSelection]="true" [suppressDragLeaveHidesColumns]="true" [pagination]="true"
                    [isFullWidthCell]="isFullWidthCell" [fullWidthCellRenderer]="fullWidthCellRenderer" enableSorting
                    [floatingFilter]="true" (gridReady)="onGridReady($event);" [debug]="true" [ensureDomOrder]="true"
                    [paginationPageSize]="itemsPerPage" [suppressColumnVirtualisation]="true"
                    [suppressHorizontalScroll]="false" [enableColResize]="true" [pagination]="true"
                    [sortingOrder]="sortingOrder" [frameworkComponents]="frameworkComponents">
                  </ag-grid-angular>
                </div>
                <div class="tab-pane fade h-100 bgg" [ngClass]="{'active show': flagForHideShowShare === true}"
                  id="other-share">
                  <ag-grid-angular id="my_div1" class="my_div1 div_new" #agGrid2
                    style="height:calc(100vh - 265px);width:100%;max-height: 100%;" rowHeight="40" headerHeight="38"
                    floatingFiltersHeight="50" class="ag-theme-balham" [rowData]="otherShare"
                    [columnDefs]="columnDefsForOtherShare" [rowSelection]="rowSelection" [rowClassRules]="rowClassRules"
                    [suppressRowClickSelection]="true" [suppressDragLeaveHidesColumns]="true" [pagination]="true"
                    [isFullWidthCell]="isFullWidthCell" [fullWidthCellRenderer]="fullWidthCellRenderer" enableSorting
                    [floatingFilter]="true" (gridReady)="onGridReady($event);" [debug]="true" [ensureDomOrder]="true"
                    [paginationPageSize]="itemsPerPage" [suppressColumnVirtualisation]="true"
                    [suppressHorizontalScroll]="false" [enableColResize]="true" [sortingOrder]="sortingOrder"
                    [frameworkComponents]="frameworkComponents">
                  </ag-grid-angular>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card-footer">
            <div class="record-pagination" *ngIf="flagForHideShowUserAndRole === false">
              <pagination-controls id='User_Pagination' (pageChange)="pagenumberForUserDetails = $event">
              </pagination-controls>
            </div>
            <div class="record-pagination" *ngIf="flagForHideShowUserAndRole === true">
              <pagination-controls id='Role_Pagination' (pageChange)="pagenumberForRole = $event"></pagination-controls>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="shareCollectionModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share Collections</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" [formGroup]="shareForm">
          <div class="col-md-12 mb-2" *ngIf="!utilsService.isEmptyObjectOrNullUndefiend(errorArray)">
            <div class="alert alert-danger" role="alert">
              {{errorArray}}
            </div>
          </div>
          <div class="col-md-12 col-12">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Share Name</mat-label>
              <input [(ngModel)]="shareObj.name" readonly formControlName="shareName" matInput required autocomplete="off">
              <mat-error
              *ngIf="shareForm.controls['shareName'].hasError('required') &&  shareForm.controls['shareName'].touched">
              {{utilsService.validationService.SHARE_NAME_REQUIRED}}</mat-error>
            <mat-error
              *ngIf="!shareForm.controls['shareName'].hasError('required') && !shareForm.controls['shareName'].valid && shareForm.controls['shareName'].touched">
              {{utilsService.validationService.SHARE_NAME_INVALID}}
            </mat-error>

            </mat-form-field>
          </div>

          <div class="col-md-6 col-12">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Expiry On</mat-label>
              <input matInput [matDatepicker]="expiry" [(ngModel)]="shareObj.expire_date" formControlName="expiry"
                [min]="todayDate" autocomplete="off" [(ngModel)]="expiryDate" placeholder="Choose a date"
                appendTo="body">
              <mat-datepicker-toggle matSuffix [for]="expiry"></mat-datepicker-toggle>
              <mat-datepicker #expiry></mat-datepicker>
              <mat-error
              *ngIf="shareForm.controls['expiry'].hasError('required') &&  shareForm.controls['expiry'].touched">
              {{utilsService.validationService.EXPIRE_DATE_REQUIRED}}</mat-error>
            <mat-error
              *ngIf="!shareForm.controls['expiry'].hasError('required') && !shareForm.controls['expiry'].valid && shareForm.controls['expiry'].touched">
              {{utilsService.validationService.EXPIRE_DATE_INVALID}}
            </mat-error>

            </mat-form-field>
          </div>
          <div class="col-md-6 col-12">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label># Download Allowed</mat-label>
              <input matInput [(ngModel)]="shareObj.allow_downloads" formControlName="downloadAllowed" required
                autocomplete="off">
                <mat-error
                *ngIf="shareForm.controls['downloadAllowed'].hasError('required') &&  shareForm.controls['downloadAllowed'].touched">
                {{utilsService.validationService.DOWNLOAD_ALLOWED_REQUIRED}}</mat-error>
              <mat-error
                *ngIf="!shareForm.controls['downloadAllowed'].hasError('required') && !shareForm.controls['downloadAllowed'].valid && shareForm.controls['downloadAllowed'].touched">
                {{utilsService.validationService.DOWNLOAD_ALLOWED_INVALID}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="flagForAccessType" formControlName="alloweDownloadCheckBox"
                  (change)="changeAccessType(flagForAccessType)" id="download">
                <label class="custom-control-label" for="download">Allow Download</label>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-12" *ngIf="!this.utilsService.isNullUndefinedOrBlank(shareLink)">
            <mat-form-field appearance="outline" class="inputbutton" fxFlex="100">
              <mat-label>Share Link</mat-label>
              <input matInput autocomplete="off" formControlName="sharelink" [(ngModel)]="shareLink"
                #userInput>
              <button mat-button matSuffix (click)="utilsService.copyInputMessage(userInput)">
                COPY LINK
              </button>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="shareForm.invalid" (click)="updateShare()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetShareModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal delete-modal" id="deleteShareModal">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body text-center">
            <div class="clear-icon">
                <span class="material-icons">clear</span>
              </div>
              <h3>Do you really want to restore these records?</h3>
              <p>This process cannot be undone.</p>
          <div class="btngroup">
            <button class="btn btn-primary mr-3" (click)="deleteShareById(shareIdForDelete)">Yes</button>
            <button class="btn btn-light" (click)="utilsService.hideModal('deleteShareModal')">No</button>
          </div>
        </div>
    </div>
  </div>
</div>
